<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183367452852-4amketa4ikhjur5jqunsabtl72o874aj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183367452852-4amketa4ikhjur5jqunsabtl72o874aj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>183367452852-c2o5n2feqlkleb0tpr13mom1g1t7kfpg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCCChRhmAirL7glJXfhusVSRHJVY9nQPdY</string>
	<key>GCM_SENDER_ID</key>
	<string>183367452852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.happytone</string>
	<key>PROJECT_ID</key>
	<string>happytone-c9209</string>
	<key>STORAGE_BUCKET</key>
	<string>happytone-c9209.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183367452852:ios:078bb050643ed161276fe1</string>
</dict>
</plist>